@using AnimeFeedManager.Web.Features.Security
<section>
    @switch (FeedInformation.Status)
    {
        case SeriesStatus.CompletedValue:
            <div class="badge badge-info gap-2">Completed</div>
            break;
        case SeriesStatus.OngoingValue:
            <div class="badge badge-success gap-2">Available</div>
            break;
        default:
            <div class="badge badge-warning gap-2">Not Available</div>
            break;
    }

</section>

@code {
    [Parameter] public FeedData FeedInformation { get; set; } = new(false, string.Empty, string.Empty);
}