<div hx-swap-oob="afterbegin:#toast-panel">
    <ClosableNotification Type="ToastType.Success">
        <Content>
            <h3 class="font-bold">Notification</h3>
            <p class="text-sm whitespace-normal">@OkMessage</p>
        </Content>
    </ClosableNotification>
</div>

@code {
    [Parameter, EditorRequired] public string OkMessage { get; set; } = string.Empty;
}