<div class="whitespace-normal">
    @foreach (var errors in ValidationErrors.Errors)
    {
        <div>
            <h4 class="font-bold text-sm">@errors.Key</h4>
            @foreach (var details in errors.Value)
            {
                <div class="text-xs">@details</div>
            }
        </div>
    }
</div>


@code {
    [Parameter, EditorRequired] public ValidationErrors ValidationErrors { get; set; } = ValidationErrors.Create([]);
}