@using System.Collections.ObjectModel
<span class="hidden filters" @attributes="Filters"></span>

@code {
    [Parameter, EditorRequired] public IReadOnlyDictionary<string, object> Filters { get; set; } = ReadOnlyDictionary<string, object>.Empty;
}