@if (Links.Length > 0)
{
    <div x-data>
        <button class="btn btn-square btn-sm btn-secondary ml-2 mb-2" aria-label="Links" @click="$refs.modal.showModal()">
            <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                <path stroke-linecap="round" stroke-linejoin="round" d="M13.19 8.688a4.5 4.5 0 0 1 1.242 7.244l-4.5 4.5a4.5 4.5 0 0 1-6.364-6.364l1.757-1.757m13.35-.622 1.757-1.757a4.5 4.5 0 0 0-6.364-6.364l-4.5 4.5a4.5 4.5 0 0 0 1.242 7.244"/>
            </svg>
        </button>

        <dialog class="modal" x-ref="modal">
            <div class="modal-box max-w-fit">
                <form method="dialog" hx-boost="false">
                    <button class="btn btn-xs btn-circle btn-outline absolute right-2 top-2">✕</button>
                </form>
                <h3 class="text-center mb-2">Links provided by <a href="https://nyaa.si/" target="_blank" class="link link-primary">Nyaa Torrents</a></h3>
                <table class="table table-zebra">
                    <thead>
                    <tr>
                        <th>Title</th>
                        <th>Size</th>
                        <th>Links</th>
                    </tr>
                    </thead>
                    <tbody class="text-base-content">
                    @foreach (var link in Links)
                    {
                        <tr>
                            <td>@link.LinkTitle</td>
                            <td>@link.Size</td>
                            <td>
                                <span class="flex gap-3">
                                    @foreach (var seriesLink in link.Links)
                                    {
                                        <a href="@seriesLink.Link" aria-label="@GetLabel(seriesLink.Type)" target="_blank" class="link link-primary">
                                            @switch (seriesLink.Type)
                                            {
                                                case LinkType.None:
                                                    break;
                                                case LinkType.TorrentFile:
                                                    <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                                                        <path stroke-linecap="round" stroke-linejoin="round" d="M3 16.5v2.25A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75V16.5M16.5 12 12 16.5m0 0L7.5 12m4.5 4.5V3"/>
                                                    </svg>
                                                    break;
                                                case LinkType.Magnet:
                                                    <!--!Font Awesome Free 6.5.2 by fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                                                    <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 448 512" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                                                        <path d="M0 160v96C0 379.7 100.3 480 224 480s224-100.3 224-224V160H320v96c0 53-43 96-96 96s-96-43-96-96V160H0zm0-32H128V64c0-17.7-14.3-32-32-32H32C14.3 32 0 46.3 0 64v64zm320 0H448V64c0-17.7-14.3-32-32-32H352c-17.7 0-32 14.3-32 32v64z"/>
                                                    </svg>
                                                    break;
                                            }
                                        </a>
                                    }
                                </span >
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </dialog>
    </div>
}


@code {
    [Parameter, EditorRequired] public SeriesFeedLinks[] Links { get; set; } = [];

    private static string GetLabel(LinkType linkType) => linkType switch
    {
        LinkType.Magnet => "Magnet",
        LinkType.TorrentFile => "Torrent",
        _ => "None"
    };

}