@using System.Collections.ObjectModel
<GridFilterMetadataHolder Filters="@(ReadOnlyDictionary<string, object>.Empty)"/>
<div class="badge badge-warning">
    <span>Not Available <span class="hidden md:contents">for Notifications</span></span>
</div>