<div class="badge badge-success flex gap-2">
    <span>Available for notifications</span>
    <LinksPresenter Links="@Links"></LinksPresenter>
</div>

@code{
    [Parameter, EditorRequired] public SeriesFeedLinks[] Links { get; set; } = [];
}