@if (Ova is not NullOva)
{
    @switch (Ova)
    {
        case NotAvailableOva:
            <NotAvailableOvaControls/>
            break;
        case AvailableOva availableOva:
            <AvailableOvaControls HasFeed="@(availableOva.Links.Length > 0)"/>
            break;
        case SubscribedOva ova:
            <SubscribedOvaControls ControlData="@OvaControlData.MapFrom(ova, LoaderSelector)"/>
            break;
        case UnsubscribedOva ova:
            <UnsubscribedOvaControls ControlData="@OvaControlData.MapFrom(ova, LoaderSelector)"/>
            break;
        default:
            <div class="badge badge-error gap-2">
                <span>Nothing Yet!</span>
            </div>
            break;
    }
}

@code {
    [Parameter, EditorRequired] public BaseOva Ova { get; set; } = new NullOva();
    [Parameter, EditorRequired] public string LoaderSelector { get; set; } = string.Empty;

}