<article class="bg-base-300 transition-all p-8 border border-neutral w-full">
    <h3 class="card-title">
        @Title <span id="@LoaderId" class="loading loading-spinner loading-xs htmx-indicator"></span>
    </h3>
    @ChildContent
</article>

@code {
    [Parameter, EditorRequired] public string Title { get; set; } = "No Title";

    [Parameter, EditorRequired]
    public RenderFragment ChildContent { get; set; } = @<span>No content here!</span>;

    [Parameter, EditorRequired] public string LoaderId { get; set; } = string.Empty;
}