@if (Movie is not NullMovie)
{
    @switch (Movie)
    {
        case NotAvailableMovie:
            <NotAvailableMovieControls/>
            break;
        case AvailableMovie movie:
            <AvailableMovieControls Links="movie.Links" />
            break;
        case SubscribedMovie movie:
            <SubscribedMovieControls ControlData="@MovieControlData.MapFrom(movie, LoaderSelector)" Links="movie.Links"/>
            break;
        case UnsubscribedMovie movie:
            <UnsubscribedMovieControls ControlData="@MovieControlData.MapFrom(movie, LoaderSelector)" Links="movie.Links"/>
            break;
        default:
            <div class="badge badge-error gap-2">
                <span>Nothing Yet!</span>
            </div>
            break;
    }
}

@code {
    [Parameter, EditorRequired] public BaseMovie Movie { get; set; } = new NullMovie();
    [Parameter, EditorRequired] public string LoaderSelector { get; set; } = string.Empty;
}