@using AnimeFeedManager.Old.Common.Dto
@if (Movie is not NullMovie)
{
    @switch (Movie)
    {
        case NotAvailableMovie:
            <NotAvailableMovieControls/>
            break;
        case AvailableMovie availableMovie:
            <AvailableMovieControls HasFeed="@(availableMovie.Links.Length > 0)"/>
            break;
        case SubscribedMovie movie:
            <SubscribedMovieControls ControlData="@MovieControlData.MapFrom(movie, LoaderSelector)"/>
            break;
        case UnsubscribedMovie movie:
            <UnsubscribedMovieControls ControlData="@MovieControlData.MapFrom(movie, LoaderSelector)"/>
            break;
        default:
            <div class="badge badge-error gap-2">
                <span>Nothing Yet!</span>
            </div>
            break;
    }
}

@code {
    [Parameter, EditorRequired] public BaseMovie Movie { get; set; } = new NullMovie();
    [Parameter, EditorRequired] public string LoaderSelector { get; set; } = string.Empty;
}