<GridFilterMetadataHolder Filters="@GetFilters()"/>
<div class="badge badge-info">
    <span>Completed</span>
</div>

@code{

    private IReadOnlyDictionary<string, object> GetFilters() =>
        new Dictionary<string, object>([Attributes.Completed]).AsReadOnly();

}