@using AnimeFeedManager.Common.Domain.Types
<section>
    @* <button class="btn btn-xs btn-circle"> *@
    @*     <svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3" fill="none" viewBox="0 0 24 24" stroke="currentColor"> *@
    @*         <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"/> *@
    @*     </svg> *@
    @* </button> *@

    @if (FeedInformation.Available)
    {
        @switch (FeedInformation.Status)
        {
            case SeriesStatus.CompletedValue:
                <div class="badge badge-info gap-2">Completed</div>
                break;
            case SeriesStatus.OngoingValue:
                <div class="badge badge-success gap-2">Available</div>
                break;
            default:
                <div class="badge badge-warning gap-2">Not Available</div>
                break;
        }
    }
    else
    {
        <div class="badge badge-warning gap-2">Not Available</div>
    }
</section>

@code {
    [Parameter] public Feed FeedInformation { get; set; } = new(false, string.Empty, string.Empty);
}