<div x-data="{ 
            eventDetail: {},
            checkEvent(event) {
             if(!event.question) {
                 event.issueRequest(true);
                 return;
             }
             this.eventDetail = event;
             $refs.htmxConfirm.showModal();
                
            }}">
    <dialog id="confim-htmx-event" class="modal" @htmx:confirm.window.prevent="checkEvent($event.detail)" x-ref="htmxConfirm" hx-boost="false">
        <div class="modal-box">
            <h3 class="font-bold text-lg">Confirmation</h3>
            <p class="py-4" x-text="eventDetail.question"></p>
            <div class="modal-action">
                <form method="dialog">
                    <button class="btn btn-sm">Cancel</button>
                    <button class="btn btn-sm btn-primary" @click="eventDetail.issueRequest(true)">Ok</button>
                </form>
            </div>
        </div>
    </dialog>
</div>