@using System.ComponentModel.DataAnnotations
@using System.Linq.Expressions
@typeparam TValue
<p class="validator-hint !flex items-center gap-1" data-validation-message>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="1.5" 
         class="fill-transparent size-5 stroke-current">
        <path strokeLinecap="round" strokeLinejoin="round"
              d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126ZM12 15.75h.007v.008H12v-.008Z"/>
    </svg>
    <span>@ErrorHints()</span>
</p>

@code {
    [Parameter, EditorRequired] public Expression<Func<TValue>>? For { get; set; }


    private List<string> ValidationMessages { get; set; } = [];

    private string PropertyDisplayName { get; set; } = string.Empty;

    protected override void OnParametersSet()
    {
        if (For is null)
        {
            ValidationMessages = [];
            return;
        }

        var memberExpression = (MemberExpression) For.Body;
        var propertyInfo = (System.Reflection.PropertyInfo) memberExpression.Member;
        var validationAttributes = propertyInfo.GetCustomAttributes(typeof(ValidationAttribute), true)
            .Cast<ValidationAttribute>();

        var displayAttribute = propertyInfo.GetCustomAttributes(typeof(DisplayAttribute), true)
            .Cast<DisplayAttribute>().FirstOrDefault();

        PropertyDisplayName = displayAttribute?.Name ?? propertyInfo.Name; // You can customize this to get a more user-friendly name if needed

        ValidationMessages = validationAttributes.Select(attr =>
                attr.FormatErrorMessage(PropertyDisplayName)
                    .RemoveTrailingPeriod()
            )
            .ToList();
    }

    private string ErrorHints()
    {
        switch (ValidationMessages.Count)
        {
            case 0:
                return string.Empty;
            case 1:
                return ValidationMessages[0].RemoveAdditionalOccurrencesOf(PropertyDisplayName);
        }

        // Handle multiple messages
        var allButLast = ValidationMessages.Take(ValidationMessages.Count - 1);
        var last = ValidationMessages.Last();

        var result = string.Join(", ", allButLast) + " and " + last;
        return result.RemoveAdditionalOccurrencesOf(PropertyDisplayName);
    }

}