@using AnimeFeedManager.Old.Common.Domain.Notifications
@if (Notification is not null)
{
    <ClosableNotification Type="Helpers.Map(Notification.Result)">
        <Content>
            <h3 class="font-bold">Latest TV titles update</h3>
            <p class="text-sm whitespace-normal">
                @Notification.Message
            </p>
        </Content>
    </ClosableNotification>
}

@code {
    [Parameter, EditorRequired] public TitlesUpdateNotification? Notification { get; set; }
}