@page "/admin"
@using AnimeFeedManager.Web.Features.Admin.TvCards
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles = UserRole.AdminValue)]

<PageTitle>@PageTitle("Admin")</PageTitle>

<h2 class="mb-8">Tv Series</h2>
<section
   class="grid items-stretch grid-cols-[repeat(auto-fit,minmax(300px,1fr))] lg:grid-cols-[repeat(auto-fit,minmax(350px,400px))] gap-10">
   <TvSeasonalUpdate/>
   <TvLatestSeasonUpdate/>
   <TvTitlesUpdate/>
</section>

<h2 class="my-8">OVAs</h2>

@code {

}