@page "/admin"
@using AnimeFeedManager.Common.Domain
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles = RoleNames.Admin)]

<PageTitle>@PageTitle("Administration")</PageTitle>

<div class="grid grid-cols-12 gap-4 mx-4 md:mt-6 md:gap-6 2xl:mt-7.5 2xl:gap-7.5">
    <section class="col-span-12 px-5 pt-7.5 pb-5 sm:px-7.5 lg:col-span-4 2xl:col-span-3">
        <header class="mb-4">
            <h2>Update TV Library</h2>
        </header>
        <AdminTvCard/>
    </section>
    <section class="col-span-12 px-5 pt-7.5 pb-5 sm:px-7.5 lg:col-span-4 2xl:col-span-3">
        <header class="mb-4">
            <h2>Update OVAs Library</h2>
        </header>
        <AdminOvasCard/>
    </section>
    <section class="col-span-12 px-5 pt-7.5 pb-5 sm:px-7.5 lg:col-span-4 2xl:col-span-3">
        <header class="mb-4">
            <h2>Update Movies Library</h2>
        </header>
        <AdminMoviesCard/>
    </section>

    <section class="col-span-12 px-5 pt-7.5 pb-5 sm:px-7.5 lg:col-span-4 2xl:col-span-3">
        <header class="mb-4">
            <h2>Users</h2>
        </header>
        <Users></Users>
    </section>

    <section class="col-span-12 px-5 pt-7.5 pb-5 sm:px-7.5 lg:col-span-4 2xl:col-span-3">
        <header class="mb-4">
            <h2>Other</h2>
        </header>
        <AdminCard Title="Update Latest Seasons" LoaderId="@_updateTitlesLoader">
            <form class="card-actions form-control"
                  hx-put="/admin/seasons"
                  hx-swap="none"
                  hx-indicator="@($"#{_updateTitlesLoader}")"
                  hx-confirm="Do you want to trigger update of latest seasons?">
                <AntiforgeryToken/>
                <button type="submit" class="btn btn-primary mt-4">
                    Update Latest Seasons
                </button>
            </form>
        </AdminCard>
    </section>
</div>

@code {
    private readonly string _updateTitlesLoader = IdHelpers.GetUniqueName("admin-card-loader");
}