 <article class="bg-base-300 transition-all p-8 border border-neutral w-full">
        <h3 class="card-title">@Title</h3>
        @ChildContent
    </article>

@code {
    [Parameter] public string Title { get; set; } = "No Title";

    [Parameter]
    public RenderFragment ChildContent { get; set; } = @<span>No content her!</span>;

}