@page "/admin"
@using AnimeFeedManager.Web.Features.Admin.TvCards
<h2 class="mb-8">Tv Series</h2>
<section class="grid grid-cols-[repeat(auto-fit,minmax(350px,1fr))] lg:grid-cols-[repeat(auto-fit,minmax(350px,400px))] gap-10">
   <TvSeasonalUpdate></TvSeasonalUpdate>
   <TvSeasonalUpdate></TvSeasonalUpdate>
</section>

<h2 class="my-8">OVAs</h2>

@code {

}