@if (Model is not null)
{
    <FabButtonContainer Label="Edit Alternative Titles" x-data>
        <button type="button" class="btn btn-sm btn-circle btn-secondary shadow-md"
                aria-label="Manage Alternative Titles for @Model.SeriesTitle"
                @click="$refs.modal.showModal()">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                 stroke="currentColor"
                 class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15"/>
            </svg>
        </button>

        <dialog class="modal" x-ref="modal" x-on:alt-titles:saving="$refs.modal.close()">
            <AlternativeTitlesEditor Model="Model"></AlternativeTitlesEditor>
        </dialog>
    </FabButtonContainer>
}
@code {
    [Parameter, EditorRequired] public AlternativeTitlesViewModel? Model { get; set; }
}