@using System.Collections.ObjectModel
<section>
    <GridFilterMetadataHolder Filters="@GetFilters()"/>
    @switch (FeedInformation.Status)
    {
        case SeriesStatus.CompletedValue:
            <div class="badge badge-info">Completed</div>
            break;
        case SeriesStatus.OngoingValue:
            <div class="badge badge-success">Available</div>
            break;
        default:
            <div class="badge badge-warning">Not Available</div>
            break;
    }
</section>

@code {
    [Parameter] public FeedData FeedInformation { get; set; } = new(string.Empty, string.Empty);

    private IReadOnlyDictionary<string, object> GetFilters()
    {
        return FeedInformation.Status switch
        {
            SeriesStatus.OngoingValue => new Dictionary<string, object>([Attributes.Available]).AsReadOnly(),
            SeriesStatus.CompletedValue => new Dictionary<string, object>([Attributes.Completed]).AsReadOnly(),
            _ => ReadOnlyDictionary<string, object>.Empty
        };
    }
}