@using System.Collections.ObjectModel
<GridFilterMetadataHolder Filters="@GetFilters()"/>
<div class="badge badge-success">
    <span>Available <span class="hidden md:contents">for notifications</span></span>
</div>

@code{

    [Parameter, EditorRequired]
    public bool HasFeed { get; set; }
    
    private IReadOnlyDictionary<string, object> GetFilters()
    {
        return HasFeed
            ? new Dictionary<string, object>([Attributes.HasFeed]).AsReadOnly()
            : ReadOnlyDictionary<string,object>.Empty;
    }

}