@page "/Account/AccessDenied"
<div class="hero min-h-[95vh] bg-base-200">
  <div class="hero-content text-center">
    <div class="max-w-md">
      <h1 class="text-5xl font-bold text-warning">Access Denied</h1>
      <p class="py-6">You have not access to this resource</p>
      <NavLink class="link" href="/">Home</NavLink>
    </div>
  </div>
</div>