@page "/add-credential/{UserId}"

<PageTitle>@PageTitle("Add Passkey")</PageTitle>

<section class="min-h-screen bg-base-200 flex flex-col items-center pt-16 px-4">
    <header class="text-center mb-8 inline-flex items-center gap-2">
        <h1 class="normal-case font-semibold text-4xl font-logo md:text-5xl bg-gradient-to-r from-secondary to-accent bg-clip-text text-transparent p-2">
            Anime Feed Manager</h1>
        <img src="/images/logo.svg" alt="Anime Feed Manager mascot" class="h-16 md:h-20 w-auto -ml-4" />
        <p class="mt-2 text-base-content/70">Add another passkey to your account</p>
    </header>
    <article class="card w-full max-w-sm shadow-2xl bg-base-100">
        <AddCredentialForm Model="new AddCredentialsViewModel { Id = UserId }"/>
    </article>
</section>

@code {
    [Parameter] public string UserId { get; set; } = string.Empty;
}
