@page "/Register"

<PageTitle>@PageTitle("Registration")</PageTitle>

<section class="hero min-h-[95vh] bg-base-200" hx-boost="false">
    <div class="hero-content flex-col lg:flex-row-reverse">
        <div class="text-center lg:text-left">
            <h1 class="text-5xl font-bold">Registration</h1>
            <p class="py-6">Please provide an email to create your device account.</p>
        </div>
        <div class="card shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
            <form
                class="card-body"
                x-data="registerUser()"
                x-on:submit.prevent="$event.target.checkValidity() ? register() : $event.target.reportValidity()">
                <fieldset class="form-control">
                    <label for="register-email" class="label">
                        <span class="label-text">Please provide an email</span>
                    </label>
                    <input
                        type="email"
                        id="register-email"
                        name="alias"
                        required
                        x-model="userId"
                        x-ref="userId"
                        placeholder="Enter your Email"
                        class="input input-bordered invalid:input-error required:!input-bordered"/>
                </fieldset>

                <fieldset class="form-control">
                    <label for="register-display" class="label">
                        <span class="label-text">Please provide an display name</span>
                    </label>
                    <input
                        type="text"
                        id="register-display"
                        name="display"
                        required
                        x-model="display"
                        x-ref="display"
                        placeholder="Enter your Display Name"
                        class="input input-bordered invalid:input-error required:!input-bordered"/>
                </fieldset>
                <div class="form-control">
                    <button class="btn btn-primary mt-4">Register</button>
                </div>
                <template x-if="result && !result.success">
                    <div class="bg-error text-error-content rounded-box p-4 mt-2">
                        <ul>
                            <template x-for=" error in Object.values(result.errors)">
                                <li x-text="error"></li>
                            </template>
                        </ul>
                    </div>
                </template>
                <div x-show="result && result.showSuccess && result.success" class="bg-success text-success-content rounded-box p-4 mt-2">
                    <p>Account has been created successfully <NavLink class="link" href="login">Login</NavLink></p>
                </div>
            </form>
        </div>
    </div>
</section>