@page "/Register"
@using AnimeFeedManager.Web.Features.Layout
@layout AltNavBarLayout

<PageTitle>@PageTitle("Register")</PageTitle>

<section class="min-h-screen bg-base-200 flex flex-col items-center pt-16 px-4" hx-boost="false">
    <header class="text-center mb-8">
        <h1 class="normal-case font-semibold text-4xl font-logo md:text-5xl bg-gradient-to-r from-secondary to-accent bg-clip-text text-transparent p-2">
            Anime Feed Manager</h1>
    </header>
    <article class="card w-full max-w-sm shadow-2xl bg-base-100">
        <RegistrationForm Model="new RegisterViewModel()"/>
    </article>
</section>

@code {
}
