@inherits LayoutComponentBase

<main class="w-full mx-auto min-h-full ">
    <div class="drawer">
        <input id="drawer" type="checkbox" class="drawer-toggle"/>
        <div class="drawer-content flex flex-col">
            <NavBar ShowLogo="false"></NavBar>
            @Body
        </div>
        <SideMenu/>
    </div>
</main>
     
    
