@inherits LayoutComponentBase
<div class="drawer">
    <input id="drawer" type="checkbox" class="drawer-toggle"/>
    <div class="drawer-content flex flex-col">
        <NavBar/>
        <main>
            <article>
                @Body
            </article>
        </main>

        <div id="blazor-error-ui">
            An unhandled error has occurred.
            <a href="" class="reload">Reload</a>
            <a class="dismiss">🗙</a>
        </div>
    </div>
    <SideMenu/>
</div>