@inherits LayoutComponentBase
@inject IHttpContextAccessor HttpContextAccessor

@if (_isHtmxRequest)
{
    @Body
    <SideMenu hx-swap-oob="true" />
    <div id="nav-auth" hx-swap-oob="true">
        <NavAuthButtons />
    </div>
}
else
{
    <AppShell>
        <main id="main-content" class="px-4 md:px-8">
            @Body
        </main>
    </AppShell>
}

@code {
    private bool _isHtmxRequest;

    protected override void OnInitialized()
    {
        _isHtmxRequest = HttpContextAccessor.GetHtmxRequestType() is HxBoosted or HxForm;
        if (_isHtmxRequest)
        {
            var response = HttpContextAccessor.HttpContext!.Response;
            response.Headers["HX-Retarget"] = "#main-content";
            response.Headers["HX-Reswap"] = "innerHTML transition:true";
        }
    }
}

