@inherits LayoutComponentBase
@inject IHttpContextAccessor HttpContextAccessor

@if (_isHtmxRequest)
{
    <main id="main-content" class="px-4 md:px-8">
        @Body
    </main>
}
else
{
    <AppShell>
        <main id="main-content" class="px-4 md:px-8">
            @Body
        </main>
    </AppShell>
}

@code {
    private bool _isHtmxRequest;

    protected override void OnInitialized()
    {
        _isHtmxRequest = HttpContextAccessor.GetHtmxRequestType() is HxBoosted or HxForm;
    }
}

