@inherits LayoutComponentBase

<div class="drawer">
    <input id="drawer" type="checkbox" class="drawer-toggle"/>
    <div class="drawer-content flex flex-col">
        <NavBar></NavBar>
        <main class="px-4 md:px-8">
            @Body
        </main>
    </div>
    <SideMenu/>
</div>

     
    
