<div class="navbar bg-base-200/80 backdrop-blur-md sticky top-0 z-30">
    <div class="flex-none">
        <label for="drawer" aria-label="open sidebar" class="btn btn-circle btn-ghost mr-2">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="inline-block w-6 h-6 stroke-current">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M4 6h16M4 12h16M4 18h16"></path>
            </svg>
        </label>
    </div>
    <div class="flex-1 flex items-baseline gap-2">
        @if (ShowBrand)
        {
            <BrandLink></BrandLink>
        }
        <AppVersion />

        @* <ul class="menu menu-horizontal px-1 hidden lg:inline-flex"> *@
        @*     <li> *@
        @*         <NavLink href="seasons" Match="NavLinkMatch.All"> *@
        @*             Seasons *@
        @*         </NavLink> *@
        @*     </li> *@
        @*     <AuthorizeView Roles="@UserRole.Admin()"> *@
        @*         <li> *@
        @*             <NavLink href="admin"> *@
        @*                 Admin *@
        @*             </NavLink> *@
        @*         </li> *@
        @*     </AuthorizeView> *@
        @*     <AuthorizeView> *@
        @*         <li> *@
        @*             <NavLink href="user-feed-notifications"> *@
        @*                 Notifications *@
        @*             </NavLink> *@
        @*         </li> *@
        @*     </AuthorizeView> *@
        @*     <AuthorizeView> *@
        @*         <NotAuthorized> *@
        @*             <li> *@
        @*                 <NavLink href="@GetLoginPath()"> *@
        @*                     Login *@
        @*                 </NavLink> *@
        @*             </li> *@
        @*             <li> *@
        @*                 <NavLink href="register"> *@
        @*                     Register *@
        @*                 </NavLink> *@
        @*             </li> *@
        @*         </NotAuthorized> *@
        @*         <Authorized> *@
        @*             <li> *@
        @*                 <NavLink href="@GetLogoutPath()"> *@
        @*                     Logout *@
        @*                 </NavLink> *@
        @*             </li> *@
        @*         </Authorized> *@
        @*     </AuthorizeView> *@
        @* </ul> *@
    </div>
    <span id="page-indicator" class="loading loading-spinner loading-sm mx-1 htmx-indicator"></span>
    <HubStatus/>
    <div id="nav-auth">
        <NavAuthButtons />
    </div>


    <ThemeSelector></ThemeSelector>

</div>

@code
{
    [Parameter] public bool ShowBrand { get; set; } = true;
}