@using System.Web
@inject NavigationManager NavigationManager;
<div class="navbar bg-base-100">
    <div class="lg:hidden">
        <label for="drawer" aria-label="open sidebar" class="btn btn-square btn-ghost mr-2">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-6 h-6 stroke-current">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
            </svg>
        </label>
    </div>
    <div class="lg:navbar-start">
        <a href="/" class="btn btn-ghost normal-case text-xl">Anime Feed Manager</a>
        <ul class="menu menu-horizontal px-1 hidden lg:flex">
            <li>
                <NavLink class="nav-link" href="seasons" Match="NavLinkMatch.All">
                    Seasons
                </NavLink>
            </li>
            <AuthorizeView Roles="@RoleNames.Admin">
                <li>
                    <NavLink class="nav-link" href="admin">
                        Admin
                    </NavLink>
                </li>
            </AuthorizeView>
            <AuthorizeView>
                <NotAuthorized>
                    <li>
                        <NavLink class="nav-link" href="@GetLoginPath()">
                            Login
                        </NavLink>
                    </li>
                    <li>
                        <NavLink class="nav-link" href="register">
                            Register
                        </NavLink>
                    </li>
                </NotAuthorized>
                <Authorized>
                    <li>
                        <NavLink class="nav-link" href="@GetLogoutPath()">
                            Logout
                        </NavLink>
                    </li>
                </Authorized>
            </AuthorizeView>
        </ul>
    </div>

    <div class="navbar-end lg:hidden">
        @* <ThemeSelector></ThemeSelector> *@
    </div>
</div>

@code
{
    private const string? ReturnUrlKey = "returnUrl";

    private string GetLoginPath()
    {
        return GetWithReturn("login");
    }

    private string GetLogoutPath()
    {
        return GetWithReturn("logout");
    }

    private string GetWithReturn(string basePath)
    {
        var currentUri = new Uri(NavigationManager.Uri);
        var returnValue = HttpUtility.ParseQueryString(currentUri.Query).Get(ReturnUrlKey);
        var returnPath = !string.IsNullOrEmpty(returnValue) ? returnValue : currentUri.AbsolutePath;
        return $"{basePath}?returnUrl={HttpUtility.UrlEncode(returnPath)}";
    }
}