<div @attributes="AdditionalAttributes" id="main-grid">
     <section class="grid grid-cols-[repeat(auto-fit,minmax(370px,0.75fr))] justify-center auto-rows-min gap-10 px-2 md:px-10 py-2 md:py-4">
          @ChildContent
     </section>
</div>


@code {
     [Parameter(CaptureUnmatchedValues = true)]
     public IReadOnlyDictionary<string, object>? AdditionalAttributes { get; set; }

     [Parameter, EditorRequired]
     public RenderFragment ChildContent { get; set; } = @<span>No content here!</span>;
}