<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="/"/>
    <link rel="stylesheet" href="app.css"/>
    <link rel="stylesheet" href="AnimeFeedManager.Web.styles.css"/>
    <link rel="icon" type="image/png" href="favicon.png"/>
    <script defer src="lib/htmx/htmx.min.js"></script>
    <script defer src="lib/alpinejs/cdn.min.js"></script>
    @* <script defer src="_framework/blazor.web.js"></script> *@
    <SectionOutlet SectionName="additional-scripts"/>
    <HeadOutlet/>
</head>

<body class="min-w-[380px]">

<Routes/>

<div id="toast-panel" class="toast toast-end">
</div>

<HtmxConfirm></HtmxConfirm>

</body>
</html>