<div class="card-body">
    <header>
        <h3 class="card-title text-lg">@Title</h3>
    </header>
    <figure x-data="{
                chart: null,
                init() {
                    this.$nextTick(() => {
                        const canvas = this.$refs.canvas;
                        const container = this.$el;

                        // Set canvas size to match container before Chart.js init
                        canvas.width = container.clientWidth;
                        canvas.height = container.clientHeight;

                        const config = JSON.parse(this.$el.dataset.chartConfig);
                        // Start with responsive disabled so animations work
                        config.options = config.options || {};
                        config.options.responsive = false;

                        this.chart = new Chart(canvas, config);

                        // After Alpine's next DOM update cycle, enable responsiveness
                        this.$nextTick(() => {
                            this.chart.options.responsive = true;
                            this.chart.resize();
                        });
                    });
                },
                destroy() {
                    this.chart?.destroy();
                }
            }"
            data-chart-config="@Data.ToChartJsConfig(Options).ToJson()"
            class="relative h-64">
        <canvas x-ref="canvas" role="img" aria-label="@Title"></canvas>
    </figure>
</div>

@code {
    [Parameter, EditorRequired] public required string Title { get; set; }
    [Parameter, EditorRequired] public required Chart Data { get; set; }
    [Parameter] public ChartJsOptions? Options { get; set; }

    public static RenderFragment AsRenderFragment(string title, Chart data, ChartJsOptions? options = null) => builder =>
    {
        builder.OpenComponent<ChartContent>(0);
        builder.AddAttribute(1, nameof(Title), title);
        builder.AddAttribute(2, nameof(Data), data);
        builder.AddAttribute(3, nameof(Options), options);
        builder.CloseComponent();
    };
}
