<div class="card-body">
    <header>
        <h3 class="card-title text-lg">@Title</h3>
    </header>
    <figure x-data="{
                chart: null,
                init() {
                    this.$nextTick(() => {
                        const config = JSON.parse(this.$el.dataset.chartConfig);
                        this.chart = new Chart(this.$refs.canvas, config);
                    });
                },
                destroy() {
                    this.chart?.destroy();
                }
            }"
            data-chart-config="@Data.ToChartJsConfig(Options).ToJson()"
            class="h-64">
        <canvas x-ref="canvas" role="img" aria-label="@Title"></canvas>
    </figure>
</div>

@code {
    [Parameter, EditorRequired] public required string Title { get; set; }
    [Parameter, EditorRequired] public required Chart Data { get; set; }
    [Parameter] public ChartJsOptions? Options { get; set; }

    public static RenderFragment AsRenderFragment(string title, Chart data, ChartJsOptions? options = null) => builder =>
    {
        builder.OpenComponent<ChartContent>(0);
        builder.AddAttribute(1, nameof(Title), title);
        builder.AddAttribute(2, nameof(Data), data);
        builder.AddAttribute(3, nameof(Options), options);
        builder.CloseComponent();
    };
}
