<div role="alert" class="alert shadow-lg max-w-screen-md" x-data="{ open: true }" x-show="open" x-transition.duration.500ms>
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="hidden md:block @Type.AsStrokeStyle() shrink-0 w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
    </svg>
    <div>
        @Content
    </div>
    <button type="button" class="btn btn-primary btn-sm -mt-3 md:mt-0" x-on:click="open = false">Ok</button>
</div>

@code {
    [Parameter] public RenderFragment Content { get; set; } = @<span></span>;
    [Parameter, EditorRequired] public ToastType Type { get; set; } = ToastType.Info;
}