a {
  text-decoration: none;
  &.active {
    ion-item {
      border-left: 4px solid transparent;
      border-left-color: var(--ion-color-secondary);
      color: var(--ion-color-secondary);

      ion-icon {
        color: var(--ion-color-secondary) ;
      }
    }
  }
}
