@using AnimeFeedManager.Features.Ovas.Scrapping.Feed.Types
@if (Notification is not null)
{
    <ClosableNotification Type="Helpers.Map(Notification.Result)">
        <Content>
            <h3 class="font-bold">OVAs feed has been updated</h3>
            <p class="text-sm whitespace-normal">
                @Notification.Message
            </p>
        </Content>
    </ClosableNotification>
}

@code {
    [Parameter, EditorRequired] public OvasFeedUpdateNotification? Notification { get; set; }
}