@using AnimeFeedManager.Common.Domain.Notifications
@using AnimeFeedManager.Common.Domain.Notifications.Base
@if (Notification is not null)
{
    <ClosableNotification Type="Helpers.Map(Notification.Result)">
        <h3 class="font-bold">Season has been updated</h3>
        <p class="text-sm whitespace-normal">
            @Notification.Message
            @if (Notification.Result is not NotificationType.Error)
            {
                <a class="link" href="@GetLink()" target="_blank"></a>
            }
        </p>
    </ClosableNotification>
}

@code {
    [Parameter, EditorRequired] public SeasonProcessNotification? Notification { get; set; }

    private string GetLink()
    {
        return Notification is not null ? $"/{Notification.SimpleSeason.Season}-{Notification.SimpleSeason.Year}/{Notification?.SeriesType}" : string.Empty;
    }
}