@using AnimeFeedManager.Common.Domain.Notifications
@if (Notification is not null)
{
    <ClosableNotification Type="Helpers.Map(Notification.Result)">
        <h3 class="font-bold">Latest TV titles have been updated</h3>
        <p class="text-sm whitespace-normal">
            @Notification.Message
        </p>
    </ClosableNotification>
}

@code {
    [Parameter, EditorRequired] public TitlesUpdateNotification? Notification { get; set; }
}