<div @attributes="AdditionalAttributes" id="main-grid">
    @if (GridControls is not null)
    {
        @GridControls
    }

    <section class="grid grid-cols-[repeat(auto-fit,minmax(350px,1fr))] md:grid-cols-[repeat(auto-fit,minmax(450px,1fr))] gap-10 px-2 md:px-10 py-2 md:py-4">
        @GridContent
    </section>
</div>

@code {

    [Parameter(CaptureUnmatchedValues = true)]
    public IReadOnlyDictionary<string, object>? AdditionalAttributes { get; set; }

    [Parameter, EditorRequired]
    public RenderFragment GridContent { get; set; } = @<span>No content here!</span>;

    [Parameter] public RenderFragment? GridControls { get; set; }

}